@import "../../assets/styles/global";


.containerPagination {

  .active>.page-link,
  .page-link.active {
    background-color: $color-primary;
    border-color: $color-secondary;
    color: $color-secondary;
  }

  .page-link {
    color: $color-primary;
  }

}