@import "../../assets/styles/global";


@media (max-width: 767px) {

  .headerCart {
    display: none !important;
  }

  .imgProduct {
    width: 100px !important;
    height: 100px !important;
  }

  .boxImg {
    margin-top: 10px !important;
  }

  .productCart {
    margin-bottom: 10px;
  }
}

.boxProduct {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: center;
  align-items: center;
}


.bodyCart {
  min-height: 200px;
  margin-bottom: 20px;
}

.productCart {
  border-top: 1px solid $color-text-secondary;
  height: 160px;
  justify-content: space-between;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count span {
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: 600;
}

.count svg {
  cursor: pointer;
}

.count svg:hover {
  color: $color-primary;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price p {
  color: $color-text-secondary;
  font-size: 0.6rem;
}

.price span {
  color: $color-text-primary;
  font-size: 1.2rem;
}

.boxImg {
  display: flex;
  align-items: center;
}

.boxImg span {
  margin-left: 10px;
  font-size: 0.8rem;
}

.boxImg span div {
  font-size: 0.6rem;
  cursor: pointer;
  color: $color-primary;
}

.boxImg span svg {
  width: 15px;
}

.imgProduct {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.headerCart span {
  color: $color-text-primary;
  font-size: 0.8rem;
  font-weight: 400;
}

.footerCart {
  border-top: 1px solid $color-text-secondary;
}

.footerCart p {
  justify-content: end;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;

  span {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.footerCart div {
  justify-content: space-between;
  display: flex;
}



.btnFinish {
  background-color: $color-primary !important;
  border-color: $color-secondary !important;
  font-size: 0.9rem !important;
}

.btnFinish:hover {
  background-color: $color-secondary !important;
  border-color: $color-primary !important;
  color: $color-primary !important;
}

.linkCart {
  display: flex;
  margin-right: 30px;
  color: $color-primary;
  font-size: 15px;
  font-weight: 500;
  text-decoration: auto;
  cursor: pointer;
}

.linkCart:hover {
  font-weight: 700;
  color: $color-primary;
}