.boxProduct {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}