@import "../../assets/styles/global";

.background {
  background-color: $color-primary;
  height: 70px;
  margin-bottom: 15px;
  padding: 0% 5% 0% 5% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --bs-gutter-x: 0rem !important;
}

.ulMenu {
  margin: 0px !important;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  margin-right: 30px;
  color: $color-secondary;
  font-size: 15px;
  font-weight: 500;
  text-decoration: auto;
  cursor: pointer;
}

.menu:hover {
  font-weight: 700;
  color: $color-secondary;
}

.numberCart {
  position: relative;
  margin-top: -3px;
  font-size: 0.5rem;
  color: $color-primary;
  font-weight: 400;
  margin-left: 0px;
  align-items: center;
  text-align: center;
  background: white;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

.footer {
  width: 100%;
  min-height: 200px;
  padding-top: 20px;
  margin-top: 60px !important;
  background-color: $color-primary;
  --bs-gutter-x: 0rem !important;
}

.footer div {
  justify-content: center;
  padding: 20px;
  text-align: start;
}

.footer span {
  color: $color-secondary;
  font-size: 1.4rem;
}

.developedBy {
  display: flex;
  text-align: center;
}

.footer p {
  color: $color-secondary;
  font-size: 0.8rem;
}

.menuFooter {
  display: flex;
  margin-right: 30px;
  margin-top: 5px;
  color: $color-secondary;
  font-size: 15px;
  font-weight: 300;
  text-decoration: auto;
  cursor: pointer;
}

.menuFooter:hover {
  color: $color-secondary;
  font-weight: 400;
}