@import "../../assets/styles/global";

.background {
  background-color: $color-primary;
  height: 70px;
  margin-bottom: 15px;
  padding: 0% 5% 0% 5% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ulMenu {
  margin: 0px !important;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  margin-right: 30px;
  color: $color-secondary;
  font-size: 15px;
  font-weight: 500;
  text-decoration: auto;
  cursor: pointer;
}

.menu:hover {
  font-weight: 700;
  color: $color-secondary;
}