@import "../../assets/styles/global";

@media (max-width: 767px) {
  .imgProduct {
    width: 70% !important;
    border-radius: 10px;
    margin-bottom: 25px;
  }

  .boxCenter {
    display: flex;
    justify-content: center;
  }

  .text {
    text-align: center;
    margin-bottom: 25px;
  }

  .text span {
    font-size: 1.4rem !important;
  }

  .text p {
    font-size: 2.5rem !important;
  }

}

.imgProduct {
  width: 100%;
}

.btnBuy {
  background-color: $color-primary !important;
  border-color: $color-secondary !important;
  font-size: 1.2rem !important;
}

.btnBuy:hover {
  background-color: $color-secondary !important;
  border-color: $color-primary !important;
  color: $color-primary !important;
}

.text span {
  color: $color-text-primary;
  font-size: 2rem;
}

.text p {
  color: $color-text-secondary;
  font-size: 2rem;
}